{% extends 'base.html' %}

{% block bodycontent %}
<a class='btn btn-default' href={% url 'indexview' %}>Back To Home</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{ menuitem.title }}</h2>
  </div>
  <div class="panel-body">
    <p><b>Type</b>  {{ menuitem.foodtype }}</p>
    <p>{{ menuitem.description }}</p>
    <p>{{ menuitem.price }}</p>
    <br>
    <form type='' method='post'>
      {% csrf_token %}
      <input class='btn btn-danger' type='submit' value='Confirm Delete'>
    </form>
  </div>
</div>
{% endblock %}
