{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fishrooms</title>
  <link rel='stylesheet' href='{% static 'appmightyrestaurant/css/bootstrap.css' %}'>
  <link rel='stylesheet' href='{% static 'appmightyrestaurant/owncss.css' %}'>
</head>
<body>
<nav class="navbar navbar-inverse">
  <p><a href="{% url 'indexview' %}" class='navbar-brand'>Home</a></p>
  <!-- If Logged In -->
  {% if request.user.is_authenticated %}
  <a href="{% url 'profileview' %}">Profile</a>
  <a href="{% url 'logout' %}?next=/">Logout</a>
  <!-- If Not Logged In -->
  {% else %}
  <a href="{% url 'login' %}?next=/">Login</a>
  <a href="{% url 'registerview' %}">Register</a>
  {% endif %}
  </nav>
<div class='container'>
  {% block bodycontent %}
  {% endblock %}
</div>
</body>
</html>
