{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fishrooms</title>
  <link rel='stylesheet' href='{% static 'appmightyrestaurant/css/bootstrap.css' %}'>
  <link rel='stylesheet' href='{% static 'appmightyrestaurant/owncss.css' %}'>
</head>
<body>
<nav class="navbar navbar-inverse">
  <a href="{% url 'indexview' %}" class='navbar-brand'>Home</a>
  <!-- If Logged In -->
  {% if request.user.is_authenticated %}
  <ul class='nav navbar-nav'>
    <li><a class='navbar-nav' href="{% url 'profileview' %}">Profile</a></li>
    <div style="position: absolute; right: 0"><a class='btn btn-danger' href="{% url 'logout' %}?next=/">Logout</a></div>
  </ul>
  <!-- If Not Logged In -->
  {% else %}
  <ul class='nav navbar-nav'>
    <li><a class='navbar-nav' href="{% url 'login' %}?next=/">Login</a></li>
    <li><a class='navbar-nav' href="{% url 'registerview' %}">Register</a></li>
  </ul>
  {% endif %}
  </nav>
<div class='container'>
  {% block bodycontent %}
  {% endblock %}
</div>
</body>
</html>
