{% extends 'base.html' %}
{% block bodycontent %}

  <!-- If Owner -->
  {% if worker.workertype == 'owner' %}
    <a class='btn btn-default' href="{% url 'createfoodtypeview' %}">New Food Type</a>
    <hr>
    {% for item in foodtypes %}
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>{{ item }}</strong> <a class='btn btn-default' href={% url 'updatefoodtypeview' item.id %}>Update</a>
        <a class='btn btn-default' href="{% url 'createmenuitemview' item.id %}">Add Item</a>
        </div>
        <div class="panel-footer">
          {% for food in items %}
          {% if food.foodtype == item %}
            <h4><p>{{ food.title }}</p></h4>
            <a href="{% url 'updatemenuitemview' food.id %}" class='btn btn-success'>Update</a>
            <a href="{% url 'deletemenuitemview' food.id %}" class='btn btn-danger'>Delete</a>
          {% endif %}
          {% endfor %}
        </div>
        </div>
    {% endfor %}
  {% endif %}

  <!-- If Cook -->
  {% if worker.workertype == 'cook' %}
    {% for order in orders %}
      <!-- If Order needs revisions -->
      {% if order.revisionstatus == True %}
        <div class="panel panel-primary">
          <div class="panel-body">
            <h3><strong>{{order.orderitem}} <span class='label label-warning'>Revisions Needed</span></strong></h3>
          </div>
          <div class="panel-footer">
            <i>{{order.orderdate}}</i>
            <b><p>*{{order.notes}}</p></b>
            <a class='btn btn-primary btn-lg' href='{% url 'confirmorderrevisionview' order.id %}'>Order Fixed</a>
          </div>
          </div>
        {% endif %}
      <!-- If Order not cooked yet -->
      {% if order.foodstatus == False %}
        <div class="panel panel-primary">
          <div class="panel-body">
            <h3><strong>{{order.orderitem}}</strong></h3>
          </div>
          <div class="panel-footer">
            <i>{{order.orderdate}}</i>
            <b><p>*{{order.notes}}</p></b>
            <a class='btn btn-primary btn-lg' href='{% url 'confirmorderdoneview' order.id %}'>Order Finished</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <!-- If Server -->
  {% if worker.workertype == 'server' %}
  <p><a class='btn btn-default' href="{% url 'seatcustomersview' %}">New Table</a></p>
  <br>
    {% for table in tables %}
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><strong>{{table.partyname}}</strong></h3><a href="{% url 'takecustomerorderview' table.id %}" class='btn btn-default'>Take Orders</a>
        </div>
        <div class="panel-footer">
          <b><p>Orders</p></b>
          {% for order in orders %}
          {% if order.tableid == table %}
          {{order.orderitem}}[<i>{{order.orderdate}}</i>] |
          <!-- Cooked status -->
            {% if order.foodstatus %}
              <div class='label label-success'>Cooked</div> |
              <!-- Revisions -->
              {% if order.revisionstatus %}
                <span class='label label-warning'>Returned to cook for revisions</span>
              {% else %}
                <a class='btn btn-warning' href="{% url 'orderupdateview' order.id %}">Revisions Needed</a>
              {% endif %}
            {% else %}
              <div class='label label-danger'>Not Cooked</div>
            {% endif %}
          <br>
            <a class='btn btn-danger' href="{% url 'orderdeleteview' order.id %}">Delete Order</a>
          {% endif %}
          <p></p>
          {% endfor %}
              <!-- If all items are cooked-->
              <a class='btn btn-primary' href="{% url 'payfororderview' table.id %}">Review Order and Pay</a>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
