{% extends 'base.html' %}
{% block bodycontent %}
<h2 id='indexhead'>Welcome {{user}} | {{worker.workertype}}</h2>
  <hr>

  <!-- If Owner -->
  {% if worker.workertype == 'owner' %}
    <a class='btn btn-default' href="{% url 'createmenuitemview' %}">New Item</a>
    <a class='btn btn-default' href="{% url 'createfoodtypeview' %}">New Food Type</a>
    <hr>
    {% for item in foodtypes %}
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>{{ item }}</strong> <a class='label label-info' href={% url 'updatefoodtypeview' item.id %}>Update</a>
        </div>
        <div class="panel-footer">
          {% for food in items %}
          {% if food.foodtype == item %}
            <h4><p>{{ food.title }}</p></h4>
            <a href="{% url 'updatemenuitemview' food.id %}" class='btn btn-success'>Update</a>
          {% endif %}
          {% endfor %}
        </div>
        </div>
    {% endfor %}
  {% endif %}

  <!-- If Cook -->
  {% if worker.workertype == 'cook' %}
    {% for order in orders %}
    <div class="panel panel-primary">
      <div class="panel-body">
        <h3><strong>{{order.orderitem}}</strong></h3>
      </div>
      <div class="panel-footer">
        <b><p>*{{order.notes}}</p></b>
        <!-- Needs to be wired up so pressing will set foodstatus=True -->
        <p><input class='btn btn-primary btn-lg' type='submit' value='Order Done'></p>
      </div>
    </div>
    {% endfor %}
  {% endif %}

  <!-- If Server -->
  {% if worker.workertype == 'server' %}
    {% for order in orders %}
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><strong>{{order.orderitem}}</strong></h3>
        </div>
        <div class="panel-footer">
          <p><b>Customer:</b> {{order.customer}}</p>
          <p><b>Notes:</b></p>
          <p>{{order.notes}}</p>
          {% if order.foodstatus %}
            <p class='label label-success'>Cooked</p>
            <!-- When pressed will set orderstatus=False and add revision notes-->
            <input class='btn btn-default' type='submit' value='Revision needed'>
            <!-- Needs to be wired up so pressing it will set paidstatus=True -->
            <hr>
            <p>Total: ${{order.orderitem.price}}</p>
            <p><input class='btn btn-primary' type='submit' value='Paid'></p>
          {% else %}
            <p>Current Total: ${{order.orderitem.price}}</p>
            <p class='label label-danger'>Not Cooked</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
